/** global element styling **/

@import 'https://fonts.googleapis.com/css2?family=Honk&display=swap', 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';

h1 {
  font-family: 'Honk', sans-serif; 
  font-size: 5rem;
  padding: 0px 5px;
  display: flex;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  font-family: sans-serif;
  background-color: #fcfbf7; 
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fcfbf7;
}

/** global class styling **/

div {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
	

@media (max-width: 728px) {
  nav ul {
    margin-top: 10px;
    flex-direction: column;
    text-align: center;
	padding: 0 0;
  }
  nav li {
    padding-bottom: 5px;
  }
  header {
	  flex-wrap: nowrap;
	  
}
}

/** had to remove the flex-direction from the non-media UL styling, I think it auto defaults to row 
the padding in the non-media UL is overriding the padding in the media styling, not sure why that is
**/

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Bebas Neue"; 
  font-size: 2rem;
  align-items: flex-end;
  /** padding: 0 10px; **/
	}
	
nav li {
	padding: 0 10px;
	white-space: nowrap;
}
	
/** removed in favor of wrapping
@media (max-width: 1341px) {
  nav > ul {
    flex-direction: column;
	}
  }
  
**/  
  
/** } it was a fucking bracket issue!!!!!! **/

/** don't know why this isn't working 
#Service {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: space-around;
	padding: 50px;
}

**/

#services ul {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: space-around;
	padding: 40px;
	font-size: 1.5rem;
}

#services li {
	white-space: nowrap;
	padding: 10px;
}

p {
	padding: 10px;
}

#divider {
	height: 5px;
	background: #fcba03;
	opacity: 0.5; 
	margin: 10px;
	border-radius: 15px;
	z-index: -1;
}